node_modules/
docs/.vitepress/dist
docs/.vitepress/cache
docs/public/ide
.firebaserc
.firebase
firebase.json
google*.html

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
