:root {
    --border-color: light-dark(#b6b4b4, #313131);
    --background-color: light-dark(#ebebeb, #181818);
    --background-color-variant: light-dark(#dddcdc, #222121);
    --lighter-text-color: light-dark(#3d3d3d, #d4d4d4);
    --text-color: light-dark(#212121, #fafafa);
    --success-color: light-dark(#4caf50, #2e7030);
    --warning-color: light-dark(#f0af4e, #c07504);
    --error-color: light-dark(#ff4d4d, #bd0000);
    --hover-background-color: #78787825;
    accent-color: #91553d;
}

* {
    box-sizing: border-box;
}

body,
main,
button {
    font-family: "Open Sans";
}

html,
body,
main {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color-scheme: dark light;
}

main {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.mostContent {
    display: flex;
    flex-direction: row;
    height: calc(100% - 36px);
    width: 100%;
    flex-grow: 1;
}

.sidebar {
    width: 25%;
    height: 100%;
    background-color: var(--background-color);
    border-right: 1px solid var(--border-color);
    overflow: auto;
    padding: 12px;
    flex: 0 0 auto;
    overflow-x: hidden;
    resize: horizontal;
}

.leftSidebar .fileExplorerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftSidebar .fileExplorerHeader .newActions button {
    opacity: 0.6;
}

.newActions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.newActions button {
    opacity: 0;
    transition: 0.2s;
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 6px;
    color: var(--text-color);
    cursor: pointer;
}

.fileExplorerHeader:hover .newActions button,
.folder-name:hover .newActions button {
    opacity: 0.6;
}

.newActions button:hover {
    background-color: var(--hover-background-color);
    opacity: 1 !important;
}

.rightPanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.serialMonitor {
    background-color: var(--background-color);
    border-top: 1px solid var(--border-color);
    flex-shrink: 0;
    width: 100%;
    height: 30%;
}

.serialMonitor .terminal {
    height: 100%;
}

#codeEditor,
#customEditor {
    flex: 0 1 100%;
    display: none;
}

#codeEditor {
    overflow: hidden;
}

#customEditor {
    padding: 12px 0 0 12px;
    overflow: auto;
}

#customEditor:empty {
    background-image: url(/assets/monkeyface.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(.1) grayscale(1);
}

.bottomBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 36px;
    background-color: var(--background-color);
    border-top: 1px solid var(--border-color);
    padding: 0px;
    color: var(--lighter-text-color);
}

.bottomBar .left,
.bottomBar .right {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 100%;
}

.bottomBar i {
    font-size: 18px;
}

.bottomBar .item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    user-select: none;
    height: 100%;
    padding: 0 10px;
}

.bottomBar .item:hover {
    background-color: var(--hover-background-color);
}

.bottomBar .item.onlyOnMobile {
    display: none;
}

.leftSidebar .file,
.folder-container {
    margin-left: 20px;
    vertical-align: middle;
    user-select: none;
}

.leftSidebar .folder-container {
    border-left: 2px solid transparent;
}

.leftSidebar .folder-container:not(.collapsed) {
    border-left: 2px solid var(--border-color);
}

.leftSidebar .folder-container.collapsed .item {
    display: none;
}

.leftSidebar .folder-name,
.leftSidebar .file {
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.leftSidebar .file {
    overflow: hidden;
    text-overflow: ellipsis;
}

.leftSidebar .folder-name:hover,
.leftSidebar .file:hover {
    background-color: var(--hover-background-color);
}

.leftSidebar .folder-name::before,
.leftSidebar .file::before {
    font-family: 'Material Symbols Outlined';
    vertical-align: middle;
    font-size: 20px;
    margin-right: 6px;
}

.leftSidebar .folder-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftSidebar .folder-name span {
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leftSidebar .file::before {
    content: "code";
}

.leftSidebar .folder-container .folder-name::before {
    content: "keyboard_arrow_down";
}

.leftSidebar .folder-container.collapsed .folder-name::before {
    content: "keyboard_arrow_right";
}

.topArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--background-color);
}

.windowControls {
    display: none;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50px;
    overflow-x: auto;
    overflow-y: clip;
    flex: 1 0 50px;
    user-select: none;
}

.tabs .tab {
    border-right: 1px solid var(--border-color);
    padding: 0px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
}

.tabs .tab.active {
    background-color: var(--background-color-variant);
}

.tabs .tab button {
    opacity: 0;
    transition: 0.2s;
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 6px;
    color: #787878cb;
    cursor: pointer;
}

.tabs .tab.active button,
.tabs .tab:hover button {
    opacity: 1;
}

.tabs .tab button:hover {
    background-color: var(--hover-background-color);
    color: var(--text-color);
}

.tabs::-webkit-scrollbar {
    height: 5px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.tabs::-webkit-scrollbar-track {
    background: var(--background-color);
}

.tabs::-webkit-scrollbar-thumb {
    background: var(--background-color-variant);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.tabs::-webkit-scrollbar-thumb:hover {
    background: var(--border-color);
    border-radius: 10px;
}

.rightClickMenu {
    display: none;
    position: fixed;
    background-color: var(--background-color-variant);
    padding: 10px;
    border-radius: 10px;
    z-index: 101;
}

.commandPalette {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-color-variant);
    border: var(--border-color) 1px solid;
    padding: 12px;
    border-radius: 12px;
    width: 50%;
    display: none;
    z-index: 999;
}

.commandPalette input {
    width: 100%;
    background-color: var(--background-color);
    border: none;
    height: 30px;
    border-radius: 6px;
    margin-bottom: 12px;
}

.commandPalette h4 {
    margin: 0 0 12px 0;
    padding: 0;
    display: none;
}

.commandPalette .suggestions {
    max-height: 50vh;
    overflow: auto;
    scrollbar-width: thin;
}

.commandPalette .suggestions p {
    cursor: pointer;
    border-radius: 6px;
    padding: 6px;
    margin: 0;
}

.commandPalette .suggestions p:hover,
.commandPalette .suggestions p.active {
    background-color: var(--background-color);
}

.messagebox {
    margin-right: 12px;
    padding: 12px;
    border-radius: 12px;
    color: var(--text-color);
}

.messagebox span {
    vertical-align: middle;
    margin-right: 6px;
}

.messagebox.success {
    background-color: var(--success-color);
}

.messagebox.warning {
    background-color: var(--warning-color);
}

.messagebox.error {
    background-color: var(--error-color);
}

@media screen and (max-width: 700px) {
    .sidebar {
        transition: .25s;
        position: fixed;
        top: 0;
        left: -95%;
        /* Height of bottom bar */
        bottom: 36px;
        height: calc(100% - 36px);
        width: 90%;
        z-index: 100;
        resize: none;
    }

    .rightSidebar {
        left: unset;
        right: -95%;
    }

    .leftSidebar.show {
        left: 0;
    }

    .rightSidebar.show {
        right: 0;
    }

    .bottomBar .item span {
        display: none;
    }

    .bottomBar .item.onlyOnMobile {
        display: flex;
    }

    .commandPalette {
        width: 80%;
    }

    .fileExplorerHeader .newActions button,
    .folder-name .newActions button {
        opacity: 0.6;
    }

    .tabs .tab button {
        opacity: 1;
    }
}

/* Open Sans */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/opensans.ttf) format('truetype');
}

/* JetBrains Mono */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/jetbrainsmono.ttf) format('truetype');
}


/* Material Symbols */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/material-symbols-outlined.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}